extends layout
block content
    div.navbar.navbar-top.navbar-inverse
        div.navbar-inner
            div.container-fluid
                a.brand(href='#') PAMER: Patient Medical (Electronic) Records
                ul.nav.pull-right
                    li.toggle-primary-sidebar.hidden-desktop(data-toggle='collapse', data-target='.nav-collapse-primary')
                        button.btn.btn-navbar(type='button')
                            i.icon-th-list
                    li.hidden-desktop(data-target='.nav-collapse-top')
                        button.btn.btn-navbar(type='button')
                            i.icon-align-justify
    div.container
        div.span4.offset4
            div.padded
                div(style='margin-top:80px;text-align:center;')
                    i.icon-medkit.icon-3x
                    span &nbsp;#{institution}
                div.login.box(style='margin-top:10px;')
                    div.box-header
                        span.title
                            strong #{title}
                    div.box-content.padded
                        form.separate-sections
                            div #{info}
                            div.input-prepend
                                span.add-on(href='#')
                                    i.icon-envelope
                                input(type='text', placeholder='email')
                            div
                                a.btn.btn-blue.btn-block(href='../dashboard/dashboard.html') Submit&nbsp;
                                    i.icon-ok
                        div
                            i.icon-arrow-left
                            a(href='/login')
                                &nbsp;Back to&nbsp;
                                strong Login